1. Xác định chủ đề của đề tài
Đề tài: Xây dựng website thời trang online 
Y/c: Nodejs+React+MySQL
2. Xác định các chức năng sẽ thực hiện trong đề tài tương ứng với từng quyền người dùng
Guest 
# •	//Xem danh sách sản phẩm 
# •	//Xem chi tiết sản phẩm  
# •	Tìm kiếm sản phẩm
•	Lọc sản phẩm theo danh mục, giá, thương hiệu
•	Xem banner, giới thiệu, thông tin liên hệ
# •	Đăng ký tài khoản
# •	Đăng nhập
Customer 	
# •	Tất cả các chức năng của Guest
# •	Thêm sản phẩm vào danh sách yêu thích
# •	Giỏ hàng
# •	Áp dụng voucher giảm giá
# •	Thanh toán bằng phương thức mẫu Momo hoặc VNPay
# •	Xem lịch sử đơn hàng
# •	Bình luận và đánh giá sản phẩm sau khi mua hàng thành công
# •	Cập nhật, chỉnh sửa thông tin cá nhân
# •	Đổi mật khẩu
Admin 
# •	Quản lý danh sách sản phẩm (CRUD)
# •	Quản lý danh mục sản phẩm
# •	Quản lý người dùng 
# •	Quản lý đơn hàng 
# •	Quản lý mã giảm giá 
# •	Quản lý bình luận, đánh giá
•	Quản lý nội dung banner, bài viết, thông tin trang web
•	Thống kê sản phẩm, doanh thu, đơn hàng

sort price, name, created, sold
https://server-ecommerce-20bb.onrender.com/api
